
body {
    margin:0;
    padding:0;
    width: 100vw;
    // min-width: $break-min;
    max-width: $break-max;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    overflow-x: hidden;
    font-family: $font-fancy;
    background-color: $colour-bg;
    color: $colour-primary;
   
    /* links */
    a {
        color: $colour-highlight;
        text-decoration: none;
        padding: 4px 0px;
        border-bottom: $border-faint;

        /* rollover */
        &:hover {
            color: $colour-primary;
            border-bottom: $border-primary ;
            transition: 0.3s;
        }

        /* new window icon */
        &[target="_blank"]:after {
            content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
            margin: 0 3px 0 5px;
        }
    }

    /* resets */
    ul, h1, h2, p {
        margin-block: 0;
        margin-inline: 0;
        list-style-type: none;
        padding-inline: 0;
    }

    /* title */
    h1 {
        font-weight: 700;
        font-size: 4.5vmax;
        line-height: 5vmax;
        margin-top: 2rem;
    }

    /* title */
    h2 {
        font-weight: 500;
        font-size: 1.8rem;
        font-family: $font-plain;
        margin: 1rem 0 2rem;
    }

    /* small, plain text */
    span {
        font-weight: 400;
        font-size: 1rem;
        font-family: $font-plain;

        &.error {
            font-size: 0.75rem;
        }
    }

    button {
        cursor:pointer;
        background-color: $colour-primary;
        color: $colour-white;
        font-family: $font-plain;
        border: 0;
        font-size: 0.8rem;
        transition:0.3s;

        /* nav icon buttons */
        &.icon {
            border: none;
            background-color: $colour-bg;
            color: $colour-primary;
            padding: 1rem;

            &:hover {
                // background-color: $colour-highlight;
                color: $colour-highlight;
                transition:0.3s;
            }
        }

        
    }

    /* body inner */
    section{
        width: 100%;
        min-height: 100vh;
        padding: 3rem 3rem 0 3rem;
        box-sizing: border-box;
        font-weight: 400;
        display:flex;
        flex-direction: column;

        @media only screen and (max-width: $break-mobile) {
            padding: 2rem 2rem 0 2rem;
        }

        article {
            /* description */
            & > div {
                margin-bottom: 0rem;
  
                & > p {
                    margin-bottom: 1.5rem;
                }
            }
        }   
    }
}